# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
*firebase-adminsdk*
firebase-admin-key.json

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# UI Reference
UI zips/
!backend/.env.example
